boto3==1.14.26
botocore==1.17.26
click==7.1.2
docutils==0.15.2
fastapi==0.65.2
h11==0.9.0
httptools==0.1.1
jmespath==0.10.0
pydantic==1.6.2
python-dateutil==2.8.1
s3transfer==0.3.3
six==1.15.0
starlette==0.27.0
urllib3==1.26.5
uvicorn==0.11.7
uvloop==0.14.0
websockets==9.1
